.kc_row .kc_col-sm-12{
 padding-left:0px !important;
 padding-right:0px !important; 
}
.admin-bar .header-style-one.fixed-header .main-box,
.admin-bar .main-header .sticky-header{
	top:32px;
}
.kc_column>.kc-col-container{
	display:block;
}
.kc-row-container.kc-container{
	max-width:1200px;
	width:100%;
}
.page-title{
	background-image:url(../images/background/6.jpg);
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.pagination li a, .pagination li span{
	position: relative;
    line-height: 30px;
    height: 45px;
    font-size: 22px;
    min-width: 45px;
    background: #ffffff;
    color: #000000;
    font-weight: 500;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #e5e5e5;
    transition: all 500ms ease;
    text-transform: capitalize;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
}
.pagination li a:focus, .pagination li a:hover, .pagination li span:focus, .pagination li span:hover, .pagination li span.current{
	color: #000000;
    border-color: #000000;
	background:none;
}
.pagination li:first-child a, .pagination li:first-child span,
.pagination>li:last-child>a, .pagination>li:last-child>span{
	border-radius:50%;	
}
.default-form.blog-comment-form{
	margin-top: 0px;
}
.conp_theme .conp_theme .comment-box{
	margin-left:70px;	
}
.main-header .nav-outer .search-box-outer .dropdown.open .search-box-btn .fa-search:before{
	content:'\f00d';
}

.footer-style-two .footer-column ul li.page_item a{
	position: relative;
    font-size: 16px;
    color: #ff982f;
    font-family: 'Lato', sans-serif;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;	
}
.footer-style-two .footer-column ul li.page_item a:hover{
	color: rgba(0,0,0,1);
}
/*--------------------------theme check----------------------------------*/
	#wp-calendar {
		width: 100%;
	}
	#wp-calendar caption {
		text-align: right; 
		color: #333; 
		font-size: 12px; 
		margin-top: 10px;
		margin-bottom: 15px;
	}
	#wp-calendar thead { 
		font-size: 10px;
	}
	#wp-calendar thead th { 
		padding-bottom: 10px;
	}
	#wp-calendar tbody { 
		color: #aaa; 
	}
	#wp-calendar tbody td { 
		background: #f5f5f5; 
		border: 1px solid #fff; 
		text-align: center; 
		padding:8px;
	}
	#wp-calendar tbody td:hover { 
		background: #fff; 
	}
	#wp-calendar tbody .pad { 
		background: none; 
	}
	#wp-calendar tfoot #next { 
		font-size: 10px; 
		text-transform: uppercase; 
		text-align: right;
	}
	#wp-calendar tfoot #prev { 
		font-size: 10px; 
		text-transform: uppercase; 
		padding-top: 10px; 
	}
	
	.sticky .inner-box {background: #efefef; padding:10px; }
	.sticky .inner-box .thm-unit-test {border: 3px solid #fff; padding:20px !important; }
	.sticky .post .post-content{ background-color:transparent; }
	.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	}
	.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
	}
	.gallery-caption {
		font-size:15px;
		color:#777777;
		line-height:1.8em;
		font-weight:400;
		background:#ffffff;
		-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		font-family: 'Poppins', sans-serif;	
	}
	.bypostauthor{
		font-size:15px;
		color:#777777;
		line-height:1.8em;
		font-weight:400;
		background:#ffffff;
		-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		font-family: 'Poppins', sans-serif;		
	}
	.alignright{ 
		text-align:right;
	}
	.alignleft{ 
		text-align:left;
	}
	.aligncenter{ 
		text-align:center;
	}	
	.alignnone {
    margin: 5px 20px 20px 0;
    max-width: 100%; /*12 may*/
    
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
/*************************************Theme Unit Testing***********************/
.thm-unit-test .tag-sticky-2 .inner-box{
	background:#fafafa;
	padding:15px;
}
.thm-unit-test h1,.thm-unit-test h2,.thm-unit-test h3,.thm-unit-test h4,.thm-unit-test h5,.thm-unit-test h6{
	/*font-family: 'Poppins', sans-serif; 11 may*/
	margin-bottom:15px;
	font-weight:600;
	color: #333333;
	line-height:1.2em;
}
.thm-unit-test h2{
	margin:25px 0;
}
.thm-unit-test h2+h1+h2{
	margin:0 0 15px 0;
}
.thm-unit-test h1{
	font-size:36px;
}
.thm-unit-test h2{
	font-size:32px;
}
.thm-unit-test h3{
	font-size:28px !important;
}
.thm-unit-test h4,.thm-unit-test .text h4{
	font-size:26px;
}
.thm-unit-test h5{
	font-size:24px;
}
.thm-unit-test h6{
	font-size:20px;
}
.thm-unit-test table{
	margin-bottom:20px;
}
.thm-unit-test table thead tr th{
	border: 1px solid #ddd;
    vertical-align: bottom;
	padding:8px;
}
.thm-unit-test table tbody tr th{
	border: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
.thm-unit-test table tbody tr td{
	border: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
.thm-unit-test .text > ul,.thm-unit-test ol,.thm-unit-test .text > ul li ul,.thm-unit-test .text > ul li ul li ul,
.thm-unit-test .inner-box > ul,.thm-unit-test .inner-box > ul li ul,.thm-unit-test .inner-box > ul li ul li ul,
.thm-unit-test > ul,.thm-unit-test > ul li ul,.thm-unit-test > ul li ul li ul{
	padding-left:40px;
}
.thm-unit-test .text > ul li,.thm-unit-test .inner-box > ul li,
.thm-unit-test > ul li{
	list-style-type:disc;
	display:list-item;
}
.thm-unit-test .text > ul li ul li,.thm-unit-test .inner-box > ul li ul li,
.thm-unit-test > ul li ul li{
	list-style-type:circle;
}
.thm-unit-test .text > ul li ul li ul li,.thm-unit-test .inner-box > ul li ul li ul li,
.thm-unit-test > ul li ul li ul li{
	list-style-type:square;
}
.thm-unit-test ol li{
	list-style-type:decimal;
	display:list-item;
}
.thm-unit-test ol li ol li{
	list-style-type:lower-alpha;
}
.thm-unit-test ol li ol li ol li{
	list-style-type:upper-roman;
}
.thm-unit-test p img,.thm-unit-test figure img,.thm-unit-test img{
	max-width:100%;
	display:block;
	height:auto;
}
figure{
	max-width:100%;
	display:block;
}
.paginate-links {
	margin-top: 15px;
}
.paginate-links a,
.paginate-links > span {
    margin: 0 5px 7px 0;
    position: relative;
	border: 1px solid #ff4052;
    color: #ff4052;
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
    line-height: 24px;
    min-width: 46px;
    padding: 10px 5px 6px;
    text-align: center;
    text-transform: capitalize;
    transition: all 500ms ease 0s;
}
.paginate-links a:hover,
.paginate-links > span{
	background: #ff4052 none repeat scroll 0 0;
    border-color: #ff4052;
    color: #ffffff;
}
/****************Custom Widget*********************/
.widget{
	margin-bottom:50px;
}
.widget .sidebar-title{
	margin-bottom:15px;
}
.widget .search-box{width:auto;}
.widget ul li a{
	color:#444444;
	padding:5px 0;
	-webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
} 
.widget ul li a:hover{
	color:#ff4052;
}
.widget_recent_comments ul li{
	padding: 5px 0px 5px 0px;
}
.widget select{
	width:100%;
	display:block;
	border:1px solid #ededed;
	padding:6px 6px;
	margin-top:15px;
}
.textwidget img {
    height: auto;
    max-width: 100%;
}
.widget ul{
	padding-bottom:0px;
}
.widget ul li ul{
	padding:0px;
	margin:0px;
}
.widget ul li ul li{
	border-bottom:none;
}
.thm-unit-test .share-box ul{
	padding-left:0px !important;
}
.thm-unit-test .share-box ul li{
	list-style-type:none !important;
	display:inline-block !important;
}
.thm-unit-test .share-box ul li img{
	display:inline-block !important;
}
.post-password-form input[type="password"]{
	border:1px solid #ff4052;
	padding:5px 10px;
	display:inline-block;
}
.post-password-form input[type="submit"]{
	background:#ff4052;
	color:#fff;
	padding:6px 15px; 
	display:inline-block;
	border:none;
	
}
.thm-unit-test .review-box .fr-coment-item .fr-coment-item{
	margin-left:60px;
}
.thm-unit-test .review-box .fr-coment-item .name h4{
	font-size:18px;
}
.thm-unit-test .default-form .section-title h3{
	font-size:24px !important;
}
.thm-unit-test .post-comments.comment-area{
	margin-top:40px;
}
.blog-section .thm-unit-test > p{
	margin-bottom:25px;
}
/*********************Custom Footer widget Styling************************/
.footer-widget h3{
	margin-bottom:30px;
}
.footer-widget.widget_recent_comments ul li{
	padding: 0;
}
.footer-widget ul li a{
	padding:0px 0 10px;
}
.footer-widget ul li a,.footer-widget ul li,.footer-widget .textwidget p{
	color:#ffffff;
}
.footer-widget a{
	color:#808080;
}
.footer-widget select{
	width:100%;
	padding:6px;
	color:#808080;
	border:1px solid #808080;
}
.footer-widget #wp-calendar caption{
	padding:0px;
	margin:0px 0 15px;
	font-size:14px;
	color:#808080;
}
.footer-widget #wp-calendar thead th{
	border:1px solid #808080;
	border-bottom:none;
	text-align:center;
	padding:0px;
	line-height:30px;
	color:#808080;
}
.footer-widget #wp-calendar tbody .pad{
	background:#808080;
}
.footer-widget #wp-calendar tbody td{
	border:1px solid #808080;
}
.footer-widget .tagcloud a{
	color:#808080;
}
.footer-widget .error-search-box{
	width:auto;
}
.thm-unit-test .news-block .inner-box .lower-box{
	padding-top:0px;
}
.conp_theme .comment-box .comment.pingback .author-thumb{display:none;}
.conp_theme .comment-box .comment.pingback {padding-left:0px;}
.no-comments{
	background:#444444;
	padding:8px 15px;
	display:inline-block;
	color:#ffffff;
}
.page .blog-comment-form {
    margin-top: 0px;
}
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
    max-height: 100%; /*12 may*/
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.blog-single-section .comments-area .comment-box{
	border-bottom:1px solid #eaeaea;
	padding-bottom:20px;
	margin-bottom:30px;
}
.ovi-blog-form{
	background:#fafafa;
	padding:30px 20px 0;
}
.blog-comment-form .title-box h2{
	font-size:32px;
	margin-top:0px;
}
.thm-unit-test .posts-nav{
	margin-top:50px;
}
.thm-unit-test .posts-nav a{
	font-size:15px;
	color:#333333;
}
.thm-unit-test .posts-nav a span{
	display:inline-block;
	padding:15px;
	color:#ffffff;
	font-size:14px;
	background:#333333;
}
.thm-unit-test .posts-nav a:hover{
	color:#ff4052;
}
.thm-unit-test .posts-nav a:hover span{
	background:#ff4052;
}
.widget_rss ul li{
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom:1px solid #eaeaea;
}
.widget_rss ul li:last-child{
	border-bottom:none;
}
.widget_rss ul li a{
	padding-bottom:10px;
	padding-top:0px;
	font-weight:500;
	display:block;
}
.widget_rss ul li .rss-date{
	color:#ff4052;
	padding-bottom:5px;
	display:block;
}
.search-box.error-search-box{
	padding-bottom:50px;
}